/* Resetting default margin and padding for the list items */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Global Styles */

body {
  /* background-color: #f8f9fa; Light grey background */
  background-color: #EEF0E5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 2rem;
}

.card {
  transition: transform 0.3s;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1.2rem;
  color: #007bff;
}

.toggle-btn {
  margin-top: 10px;
}

.features-list {
  display: none;
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.features-list li {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

@media (max-width: 767.98px) {
  .col-lg-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Navbar styles */
nav {
  background-color: #333;
}

.navbar {
  background-color: lightgray; /* Light grey background color */
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

/* Styling the navigation bar */
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: white; /* Change this to your desired text color */
}

nav a:hover {
  background-color: #555; /* Change this to your desired hover background color */
}

/* Centering the navigation links */
nav ul {
  text-align: center;
}

nav li {
  display: inline;
  margin-right: 20px; /* Adjust the spacing between links */
}

/* Making the navigation bar fixed at the top */
nav {
  top: 0;
  width: 100%;
}

/* Adding spacing between the header and the navigation bar */
h2 {
  margin-bottom: 20px;
}

/* Login Page Styles */
.card-login {
  border: 2px solid #007bff; /* Border color for login card */
}

.card-login .card-title {
  color: #007bff; /* Title color for login card */
}

.btn-login {
  background-color: #007bff; /* Primary blue button color */
}

.btn-login:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Register Page Styles */
.card-register {
  border: 2px solid #28a745; /* Border color for register card */
}

.card-register .card-title {
  color: #28a745; /* Title color for register card */
}

.btn-register {
  background-color: #28a745; /* Primary green button color */
}

.btn-register:hover {
  background-color: #218838; /* Darker green on hover */
}

/* Button Styles */
.button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Input Styles */
input[type=text],
input[type=password],
input[type=number],
input[type=email],
select,
input[type=date],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight: bold;
}

/* Custom Card Styles */
.v-card {
  width: 45%;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}

.v-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
